<!DOCTYPE HTML>
<html>
<head>
	<title>Vote</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<div class="page">
	<h1>Vote</h1>
	{% for message in get_flashed_messages(category_filter=['error']) %}
		<div class="error">{{ message }}</div>
  {% endfor %}
	{% for message in get_flashed_messages(category_filter=['message']) %}
		<div class="flash">{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
  
  <!--something-->
</div>
</body>
</html>